main {
    width: 1200px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    min-height: 300px;
    margin: auto;
    padding-top: 30px;
}

main app-make-transfer {
  float:left;
  width:20%;
  padding-right:10px;
}

main app-recent-transfer {
    float:right;
    width:75%;
    padding-left:10px;
  }
  