<app-newsletter></app-newsletter>

<section id="main">
	<div class="container">
		<article id="main-col">
			<h1 class="page-title"> About Us</h1>
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae quam ut neque blandit scelerisque sed id arcu. Vestibulum malesuada porttitor convallis. Vestibulum congue pellentesque laoreet. Nulla feugiat a urna ac consectetur. Integer vel ipsum turpis. Proin velit diam, egestas vitae rutrum eu, finibus non tellus. Cras dignissim neque quis volutpat finibus. In condimentum sem eu nulla imperdiet, in iaculis erat suscipit. Suspendisse in urna at leo vestibulum tincidunt ut et odio. Nunc nec erat at dui interdum aliquet.</p>
			<p>
			Pellentesque vulputate nisi eu molestie interdum. Nam quis volutpat nisl. Sed sodales consequat metus, non blandit dui tincidunt ac. Phasellus varius sapien dui, in sagittis nisi aliquet iaculis. Etiam non lobortis nunc. Proin vitae consectetur lacus. In hac habitasse platea dictumst. Aliquam sit amet eros et orci accumsan imperdiet. Mauris luctus, leo ac viverra rhoncus, augue nisi venenatis arcu, sit amet aliquet orci risus ut erat. In posuere ultrices sem, at feugiat lectus venenatis sed. Quisque ut neque elementum, tempus diam in, placerat ligula. Mauris pulvinar, urna nec tempor fringilla, magna arcu malesuada ipsum, a posuere purus massa at est. Donec a eros vitae quam fringilla vestibulum.</p>
		</article>

		<aside id="sidebar" class="dark">
			<h3>what we do? </h3>
			<p>Curabitur viverra dolor mauris, eget sagittis purus efficitur eget. Praesent sagittis rutrum feugiat. Ut semper, felis ac tristique finibus, enim leo convallis purus, ut rutrum enim nisl quis ex. Fusce sed massa quis enim eleifend venenatis. Suspendisse potenti. Nunc varius aliquet erat, in commodo neque luctus a. Sed eu hendrerit leo. Integer nec nulla ut lacus placerat luctus vel tincidunt nisl. Vivamus vulputate nec nibh ut tincidunt.</p>
		</aside>
	</div>

</section>
