
<section>
  <div>
    <h3>Make Transfer</h3>
  </div>
  <form>
    <div>
      <label>From Account</label><br>
      <input type="text" placeholder="From Account">
    </div>
    <div>
      <label>To Account</label><br>
      <input type="text" placeholder="To Account">
    </div>
    <div>
      <label>Ammount</label><br>
      <input type="number" placeholder="$0.00">
    </div>
    <button type="submit">Submit</button>
  </form>  

</section>
