
section{
    background-color: #ffffff;
    box-shadow: 0 0 10px #888888;

}
section h3{
    font-size: 20px;
    display: block;
    background-color: #0C8397;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    background: url('../../assets/icons/arrows.png') no-repeat #0C8397 15px 50%;
}

form {
    margin: 20px 15px;
    display: block;
}
form:after {
    content: "";
    display: table;
    width:100%;
    clear: both;
}

form div{
    margin-bottom:15px;
}
form div fieldset label {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    display: block;
    margin: 5px 0;
}

form div input{
    font-size: 14px;
    font-weight: 100;
    padding: 5px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #CACACA;
    outline: none;
}
form button{
    padding: 0 20px 0 20px;
    background-color: #EE7033;
    border:none;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
    float:right;
    width: 70%;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 0;
    margin-bottom:20px;
}