<app-newsletter></app-newsletter>

<section id="boxes">
	<div class="container">
		<article id="main-col">
			<h2>Services</h2>
			<div class="greybox">
				<h3>Website Design </h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae quam ut neque blandit scelerisque sed id arcu. Vestibulum malesuada porttitor convallis. Vestibulum congue pellentesque laoreet. Nulla feugiat a urna ac consectetur.</p>
				<p>Pricing Rs 3000 - 5000</p>
			</div>
			<div class="greybox">
				<h3>Website Maintenence </h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae quam ut neque blandit scelerisque sed id arcu. Vestibulum malesuada porttitor convallis. Vestibulum congue pellentesque laoreet. Nulla feugiat a urna ac consectetur.</p>
				<p>Pricing Rs 300 per month</p>
			</div>
			<div class="greybox">
				<h3>Website Hoisting </h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae quam ut neque blandit scelerisque sed id arcu. Vestibulum malesuada porttitor convallis. Vestibulum congue pellentesque laoreet. Nulla feugiat a urna ac consectetur.</p>
				<p>Pricing Rs 250 per month</p>
			</div>
		</article>

		<aside id="sidebar" class="dark">
			<h3>Get a Quote</h3>
			<form class="quote">
				<div>
					<label>Name</label><br>
					<input type="text" placeholder="Name">
				</div>
				<div>
					<label>Email</label><br>
					<input type="email" name="" placeholder="Email">
				</div>
				<div>
					<label>Message</label><br>
					<textarea placeholder="Enter a Message"></textarea>
				</div>
				<button type="submit" class="button_1">Submit</button>
			</form>
		</aside>
	</div>
</section>