
section{
    background-color: #ffffff;
    box-shadow: 0 0 10px #888888;

}
section h3{
    font-size: 20px;
    display: block;
    background-color: #0C8397;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    background: url('../../assets/icons/briefcase.png') no-repeat #0C8397 15px 50%;
}