
<section>
  <h3>Recent Transactions</h3>
  <app-search-filter (keyupevent) = "transactionrow.handleKeyUp($event)" (filterevent)="transactionrow.handleSort($event)"></app-search-filter>
  <app-transaction-row #transactionrow ></app-transaction-row>
</section>
