<section id="newsletter">
	<div class="container">
		<h1>Subscribe to Newsletter</h1>
		<form>
			<input type="email" name="" placeholder="Enter Email">
			<button type="submit" class="button_1">Subscribe</button>
		</form>
	</div>
</section>