#newsletter{
	padding:20px;
	color: #ffffff;
	background: #35424a;
}

#newsletter h1{
	float:left;
}

#newsletter form{
	float: right;
	margin-top: 15px;
}

#newsletter input[type="email"]{
	padding: 4px;
	height:25px;
	width:250px;
}