<section id="showcase">
	<div class="container">
		<h1>Affordable WEB Design</h1>
		<p>Integer iaculis enim nibh, vel vehicula turpis gravida a. Quisque at fermentum ex, quis feugiat augue. Sed quis suscipit nibh. Morbi id efficitur orci.</p>
	</div>
</section>

<app-newsletter></app-newsletter>

<section id="boxes">
	<div class="container">
		<div class="box">
			<img src="../../assets/images/HTML5.png">
			<h1>HTML Markup</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consequat lorem sit amet maximus semper. </p>
		</div>
		<div class="box">
			<img src="../../assets/images/css.png">
			<h1>Css Styling</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consequat lorem sit amet maximus semper. </p>
		</div>
		<div class="box">
			<img src="../../assets/images/design.jpeg">
			<h1>Graphic Design </h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consequat lorem sit amet maximus semper. </p>
		</div>
	</div>
</section>