/* You can add global styles to this file, and also import other style files */


.container{
	width:80%;
	margin:auto;
	overflow: hidden;
}

.button_1{
	height:38px;
	background: #e8491d;
	border:none;
	padding:0 20px 0 20px;
	color: #ffffff;
}

.dark{
	padding: 15px;
	background: #35424a;
	color: white;
	margin-top:10px;
	margin-bottom: 10px;
	
}

.greybox{
	padding: 20px;
	border:#cccccc solid 1px;
	margin-top: 10px;
	background-color: #e6e6e6;
	border-radius: 5px;
}


#showcase {
	min-height: 400px;
	background: url(assets/images/background.jpeg) no-repeat 0;
	background-size: cover;
	text-align: center;
	color:#ffffff;
	
}

#showcase h1{
	font-size:55px;
	margin: 100px 0 0 10px;
}

#boxes {
	margin-top: 20px;
}

#boxes .box{

	float:left;
	width:30%;
	padding:10px;
	text-align:center;
}
#boxes .box img{
	height:100px;
	width:90px;
}
aside#sidebar{
	float: right;
	width:30%;
	margin-top:10px;
}

article#main-col{
	float: left;
	width: 65%;
}

/*Services*/
aside#sidebar form input, textarea {
	width:90%;
}
/*Media Query*/
@media(max-width: 768px){
	
	header #branding, 
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form,
	#boxes .box,
	article#main-col,
	aside#sidebar{
		float: none;
		text-align:center;
		width:100%;
	}
	#showcase h1{
		margin-top: 40px;
	}

	#newsletter h1{
		margin-top: 10px;
	}
	#newsletter button, .quote button{
		display: block;
		width: 100%;
		margin-top: 5px;
	}

	#newsletter form input[type="email"]{
		width: 100%;
	}

	

}