header{
	background: #35424a;
	color:#ffffff;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
	padding-top: 30px;

}

header a{
	color:#ffffff;
	text-decoration: none;
	text-transform: uppercase;;
	font-size: 16px;
}

header ul{
	margin:0;
	padding:0;	
}

header li{
	float: left;
	display: inline;
	padding:0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin:0;
}

header nav {
	float: right;
	margin-top: 10px;
}

header .highlight , .current a{
	color: #FF0000;
	font-weight: bold;
}