<header>
	<div class="container">
		<div id="branding">
			<h1> <span class="highlight">Acme</span> Web Design</h1>
		</div>
		<nav >
			<ul>
				<li routerLinkActive = "current"><a routerLink="/home" >Home</a></li>
				<li routerLinkActive = "current"><a routerLink="/about" >About</a></li>
				<li routerLinkActive = "current"><a routerLink="/services" >Services</a></li>
			</ul>
		</nav>
	</div>
</header>
