section.search-filter {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    min-height: 20px;
}

section.search-filter > div {
    width: 80px;
    margin: 15px;
}
section .search,
section .filters {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
}

section .search input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #CACACA;
    padding: 5px 0;
    text-indent: 10px;
    outline: none;
    margin: 0;
}

section .search input,
section .filters i,
section .filters span {
    font-size: 15px;
}

section .filters {
    overflow: hidden;
}
section .filters i,
section .filters span {
    display: block;
    float: left;
}
section .filters i{
    font-weight: bold;
}
section .filters span,
section .filters i {
    padding: 5px 15px;
}
section .filters span {
    cursor: pointer;
    text-align: center;
    border: 1px solid #CACACA;
    border-right: none;
    position: relative;
    text-transform: uppercase;
}
section .filters span:last-child {
    border-right: 1px solid #CACACA;
}
.filters span.up:before,
.filters span.down:before {
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 10px;
    right: 7px;
}

.filters span.up:before {
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #CACACA transparent;
}

.filters span.down:before {
    border-width: 10px 5px 0 5px;
    border-color: #CACACA transparent transparent transparent;
}