<section class="search-filter">
    <div class="search">
        <input type="search" #searchInput (keyup)="onKeyUp(searchInput.value)" placeholder="Search by typing.." />
    </div>
    <div class="filters">
        <i>Sort by</i>
        <span #date (click)="filter(1)">Date</span>
        <span #beneficiaries (click)="filter(2)">Beneficiaries</span>
        <span #amount (click)="filter(3)">Amount</span>
    </div>
</section>